*{
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root{
    --font1:Verdana, Geneva, Tahoma, sans-serif;
    --font2:"Sriracha", cursive;
    --font3:"Passion One", sans-serif;
}



.container{
    width: 100%;
    height: 100vh;
    font-family: var(--font1);
}

header{
    display: flex;
    background-color: black;
    width: 100%;
    height: 200px;
    color: white;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    
}

header h1{
    font-size: 3em;
    font-variant: small-caps;
    font-family: var(--font3);
   
}

header p{
    padding-top: 10px;
    font-weight: 100;
    font-size: 0.9em;
    font-family: cursive;
}

header a, footer a{
    text-decoration: none;
    color: white;
    font-weight: 900;
}
header a:hover, footer a:hover{
    text-decoration: underline;
}


div{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    white-space: pre-line;
    font-family: var(--font2);
}

div.bkwhite{
    background-color: white;
    color: black;
}

div.image{
    background-color: rgb(51, 50, 50);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.519);
    background-size: cover;
    background-attachment: fixed;

}

div.image p{
    display:  inline-block;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.479);
    text-shadow: 1px 1px 0px black;
}
p{
    line-height: 200%;
}
div#img01{
    background-image: url(imagens/background001.jpg);
    background-position: center center;
    

}
div#img02{
    background-image: url(imagens/background002.jpg);
  

}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: var(--font3);
}


@media (min-width: 300px){
    .container{
        width: 100%;
    }
    header h1{
        font-size: 2.6em;
    }
    header p{
        font-size: 1.5em;
    }
    p{
        font-size: 1.3em;
    }
    div{
        padding: auto;
   
    }
    footer{
        font-size: 0.6em;
    }
}
   